<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Container Status</title>
</head>
<body>
    <h1>Container Status</h1>
    <table>
        <tr>
            <th>Service Name</th>
            <th>IP Address</th>
            <th>Status</th>
        </tr>
        {% for container in containers %}
        <tr>
            <td>{{ container['name'] }}</td>
            <td>{{ container['ip_address'] }}</td>
            <td>{{ container['status'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
